.col-6,.col-12{
  width:100%;
  margin:0;
  padding: 20px 20px 20px 20px !important;
}

.mealplan{
  padding: 10px 0px 10px 0px;
  margin-top:20px;
}

.container{
  padding-top: 20px;
}

.mealIsIn{
  background-color: black !important;
}

.jumbotron{
  background-color: #647260!important;
  opacity: .8
}

.jumbotron > h1 {
    color: #FFF6E8 !important;
}

.nutrients{
  margin-top: 20px;
}

.row{
  background-color: #FFF6E8;
  opacity: .8;
}

svg{
  margin-top:20px;
}

body{
  background-image: url("./nutritionBG.png");
  color: #563635;
  font-family: 'Dosis', sans-serif;
  background-color: #FFF6EB;
}
h1,h2{
  color: #563635;
  font-family: 'Abril Fatface', cursive;
}

h5{
  margin-bottom: 0px;
  margin-top: 20px;
}
